<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Invite {{player.name}} To Play</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="messagePlayer()">
      <div class="list">
        <label class="item item-input">
          <input type="text" value="Hey, {{player.name}} let's play tennis!">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Message</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>