<ion-view view-title="Find a Match" ng-controller="SearchCtrl">
  <ion-content>

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search for players by name" ng-change="search()" ng-model="data.search">
      </label>
    </div>

    <div class="search-results" ng-if="data.players.length > 0">
      <h4 class="offset-left">
        Search Results
        <span class="count">{{data.players.length}} found</span>
      </h4>
      
      <div class="list card player" ng-repeat="player in data.players">
        <div class="item item-avatar">
          <img ng-src="{{player.photo}}"/>
          <h2>{{player.name}}</h2>
          <p>Rating: {{player.rating}}</p>
          <p>Record: {{player.record}}</p>
          <p>Availability: {{player.availability}}</p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-controller="MessageCtrl" ng-click="openMsgModal(player)">
            <i class="icon ion-ios7-chatbubble-outline positive"></i>
            Message
          </a>
          <a class="tab-item" ng-click="player.favorited = !player.favorited">
            <i class="icon ion-ios7-plus-outline balanced" ng-hide="player.favorited"></i>
            <i class="icon ion-ios7-minus-outline assertive" ng-show="player.favorited"></i>
            Buddy List
          </a>
        </div>
      </div>
    </div> 

    
    <div class="recommended-players" ng-if="data.players.length === 0">
      <h4 class="offset-left">Recommended Next Match Ups</h4>
      
      <div class="list card player" ng-repeat="player in players">
        <div class="item item-avatar">
          <img ng-src="{{player.photo}}"/>
          <h2>{{player.name}}</h2>
          <p>Rating: {{player.rating}}</p>
          <p>Record: {{player.record}}</p>
          <p>Availability: {{player.availability}}</p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-controller="MessageCtrl" ng-click="openMsgModal(player)">
            <i class="icon ion-ios7-chatbubble-outline positive"></i>
            Message
          </a>
          <a class="tab-item" ng-hide="player.favorited" 
                              ng-click="openGroupModal(player)"
                              ng-controller="GroupsCtrl">
            <i class="icon ion-ios7-plus-outline balanced"></i>
            Buddy List
          </a>
          <a class="tab-item" ng-show="player.favorited" 
                              ng-click="confirmDelete(player)"
                              ng-controller="GroupsCtrl">
            <i class="icon ion-ios7-minus-outline assertive"></i>
            Buddy List
          </a>
        </div>
      </div>
    </div>
    

  </ion-content>
</ion-view>
