<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Edit Your Profile</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="updateProfile()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Full Name</span>
          <input type="text" placeholder="John Snow" value="{{player.name}}" ng-model="player.name">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Playing Availability</span>
          <input type="text" placeholder="After 5pm weekdays, anytime weekends" value="{{player.availability}}" ng-model="player.availability">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Update</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>


