<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{player.name}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="groupPlayer(player)">
      <div class="list list-inset">
        <label class="item item-input item-select">
          <div class="input-label">
            Add to group
          </div>
          <select ng-model="data.groupId">
            <option value=""></option>
            <option ng-repeat="group in groups" value="{{group.id}}">
              {{group.name}}
            </option>
          </select>
        </label>

        <div class="new-group">
          <h5 class="offset-left">Or, create a new group</h5>
          <label class="item item-input">
            <input type="text" placeholder="group name" ng-model="data.newGroup">
          </label>
        </div>
        
        <button class="button button-block button-positive" type="submit">Add</button>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>