<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Invite {{player.name}} To Play</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="messagePlayer(player)">
      <div class="list list-inset">
        <label class="item item-input text">
          <textarea rows="5" ng-model="data.message"></textarea>
        </label>
        
        <button class="button button-block button-positive" type="submit">Message</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>